{% extends 'base.html.twig' %}

{% block body %}
<h1>Cache Me If You Can Examples</h1>
<ul>
    <li>
        Expiration &amp; Validation Caching
        <ul>
            <li><a href="{{ url('no_cache') }}">No Cache</a></li>
            <li><a href="{{ url('expiration') }}">Expiration Caching</a></li>
            <li><a href="{{ url('validation') }}">Validation Caching</a></li>
        </ul>
    </li>
    <li>
        Fragment Caching
        <ul>
            <li><a href="{{ url('no_esi') }}">Without ESI</a></li>
            <li><a href="{{ url('esi') }}">ESI</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
